/*No secrets here..*/

body  {
    background-color: #FFFFFF; /* Some weird lines occur...*/
    margin-top: 50px;
}

/* SECTIONS */

.portrait{
	background-image: url("../images/profile_picture.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110%;
}

.about{
	padding-top: 20px;
	color: #000000;
	background-color: #FFFFFF; 
	padding-bottom: 20px;
}

.interests{
	width: 35%;
	padding-right: 10px;
	padding-left: 10px;
}

.skills{
	background-color: #FFFFFF; 
}

.work{
	color: #FFF;
	background-color: #2d3a43; 
}

.footer {
	background-color: #FFFFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

/* MISC/ABOUT */

.big-title{
	letter-spacing: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	font-size: 110px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.25);
}

.small-title{
	padding-bottom: 10px;
	margin: 0;
	font-size: 30px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.25);
}

.end-title{
	padding-bottom: 30px;
	margin: 0;
	font-size: 27px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.25);
}

.section-start{
	letter-spacing: 3px;
	color: #FFFFFF;
	background-color: #1B2964;
}

/* SKILLS */

.info-card {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
	-webkit-perspective: 600px;
	display: inline-block;
	vertical-align: top;
}

.front, .back {
	background: #FFF;
	border-radius: 10px;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-ms-transform-style: preserve-3d;
	-ms-backface-visibility: hidden;
	border: 1px solid black;
}

.front {
	overflow: hidden;
	width: 250px;
	height: 330px;
	position: absolute;
	z-index: 1;
}

.back {
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	width: 250px;
	height: 330px;
	-webkit-transform: rotateY(-180deg);
	font-family: 'Lato';
/*	overflow: scroll;*/
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.card-image {
	width: 100%;
	height: 100%;
}

.card-image-java {
	margin-top: 5px;
	margin-left: -10px;
	width: 70%;
	height: 90%;
}

.java-background{
	background-color: #E6E6FA;
}

.card-image-ruby {
	margin-top: 60px;
	margin-left: 2px;
	width: 70%;
	height: 60%;

}

.ruby-background{
	background-color: #E6E6FA;
}

.card-image-c-sharp {
	margin-top: 30px;
	width: 100%;
	height: 80%;
}

.c-sharp-background{
	background-color: #E6E6FA;
}

.card-image-c-plus-plus {
	margin-left: -30px;
	margin-top: -10px;
	width: 125%;
	height: 102%;
}

.c-plus-plus-background{
	background-color: #E6E6FA;
}

.card-image-python {
	margin-left: 0px;
	margin-top: 40px;
	width: 80%;
	height: 70%;
}

.python-background{
	background-color: #E6E6FA;
}

.card-image-scheme {
	margin-left: 15px;
	margin-top: 60px;
	width: 80%;
	height: 60%;
}

.scheme-background{
	background-color: #E6E6FA;
}

.card-image-html-css{
	margin-left: 3px;
	margin-top: 48px;
	width: 100%;
	height: 70%;
}

.html-css-background{
	background-color: #E6E6FA;
}

.card-image-javascript{
	margin-left: -60px;
	margin-top: 35px;
	width: 150%;
	height: 80%;
}

.javascript-background{
	background-color: #E6E6FA;
}
.card-image-sql{
	margin-left: -18px;
	margin-top: 10px;
	width: 115%;
	height: 90%;
}

.sql-background{
	background-color: #E6E6FA;
}

.card-image-git{
	margin-left: -18px;
	margin-top: 10px;
	width: 115%;
	height: 90%;
}

.git-background{
	background-color: #E6E6FA;
}

/* WORK EXPERIENCE*/

.work-div-parent{
	background-color: #FFFFFF;
	min-height: 300px;
}

.work-title{
	padding-top: 20px;
}

.work-div{
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Lato';
}

.work-logo{ 
	margin: auto;
	margin-right: 50px;
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

/* CONTACT INFO */

 .btn {
	background-color: #1B2964;
	display: inline-block;
	border-radius: 50%;
	border-color: #1B2964;
	margin: 20px;
	text-align: center;
	z-index: 3;
} 

.btn-circle {
	width: 150px;
	height: 150px;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	line-height: 2.00;
}

.fa-envelope-square{
	color: #FFFFFF;
	line-height: 140px;
}

.fa-linkedin-square{
	color: #FFFFFF;
	line-height: 140px;
}

.fa-facebook-square{
	color: #FFFFFF;
	line-height: 140px;
}

.fa-file-pdf-o{
	color: #FFFFFF;
	line-height: 140px;
}

.email-text, .linkedin-text, .facebook-text, .resume-text{
	padding-bottom: 30px;
	display:none;
}

.email:hover ~ .email-text{
	font-family: 'Lato';
	display:block;
}

.linkedin:hover ~ .linkedin-text{
	font-family: 'Lato';
	display:block;
}

.facebook:hover ~ .facebook-text{
	font-family: 'Lato';
	display:block;
}

.resume:hover ~ .resume-text{
	font-family: 'Lato';
	display:block;
}

.dropdown-menu{
	padding-left: 10px;
	left: auto;
}

div:not(.info-card, .also-excluded-from-divs-pls ){ 
	/* Cards were being hidden, so they are exluded. This is necessary because some weird bars appear without the div overflow hidden */
  overflow: hidden;
}

@media screen and (min-width:1300px){

	.work-logo{ 
	margin: auto;
	margin-right: 50px;
	margin-left: 0px;
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}
	.row-eq-height {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}

	.side-padding{
		padding-left: 10em;
		padding-right: 10em;
	}
}

@media screen and (max-width:1299px){

.big-title{
	margin: 0;
	font-size: 40px;
	color: #FFFFFF;
}

.small-title{
	margin: 0;
	font-size: 15px;
	color: #FFFFFF;
}

.end-title{
	padding-bottom: 15px;
	margin: 0;
	font-size: 10px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.25);
}

/* WORK EXPERIENCE */

.work-logo{ 
	margin: auto;
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}


.work-div-parent{
	min-height: 300px;
}

.work-div{
	text-align: center;
}

.work-logo{
	margin-left: 15px;
	margin-top: 30px;
	border: none;
	height: 180px;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}


.work-list{
	margin-left: -40px;
	list-style-type: none;
}

	.flipp-logo{
	padding-top: 40px;
	max-width: 300px;
	max-height: 300px;
}

	.dh-logo{
	padding-top: 100px;
	max-width: 300px;
	max-height: 300px;
}

}

@media screen and (max-width:996px){
.work-logo{ 
	position: absolute;
	margin: auto;
	height: auto;
	width: auto;
	max-width: 200px;
	max-height: 200px;
}

.work-title{
	padding-top: 20px;
	text-align:center;
}

}

@media screen and (max-width:692px){
.work-logo{ 
	position: absolute;
	margin: auto;
	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 150px;
}

.work-title{
	text-align:center;
}

@media screen and (max-width:575px){
	.work-logo{ 
	max-width: 0px;
	max-height: 0px;
}

.work-title{
	text-align:center;
}






